          /*bucca header*/
*{
    box-sizing: border-box;
 }


            body{
        background-color:#d0f9fe;        
      }

   .home{
        text-transform: uppercase;
        letter-spacing:3px;
       }

    header{
      padding: 15px 0 25px 0;
    }   

   .navy {
        display:flex;
        justify-content:space-around;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }

   .box{
        text-decoration: none;
        width: 500px;
        border:2px solid #00ffff;
        height:10px;
        justify-content:space-around;
        align-items: center;
     }

   .linky{
           text-transform: uppercase;
           font-size:17px;
           text-decoration-line:none;
           color:#000;
     }
     
   .dev{
        margin-top:10px;
        text-align: center;
        width:100%;
        justify-items: center;
        overflow: hidden;
        box-sizing: border-box;
        margin-top:50px;

     }

   .dev h1{
        text-transform:uppercase;
        justify-items: center;
        letter-spacing:8px;
        font-size: 70px;
        font-family:cursive;
        margin-bottom:0;  
     }
     .wave{
      width:100%;
      height:auto;
      box-sizing: border-box;
      z-index:-1;
     }

     .cont{
      position: relative;
      display: flex;
      width:100%;
     }

     @media(max-width:600) {
      .box{
         margin-top:15px;
      }
     }

     .ton  {
      position: absolute;
      z-index:1;
      margin:15px;
        }

     .cont{
          overflow: visible;
          align-items:flex-end;
          justify-content:center;
      }

    
          /*finish header*/


body{
  background-color: rgba(128, 128, 128, 0.178);
} 
.insta {
  height: 20px;
  width: 20px;
  }

.h {
   color: rgb(64, 65, 66);
 }

.m-column h5{
  width:90%;
  margin-top:10em auto; 
}

#mission{
  height: 90vh;
}
